ul li{
    color: red;
    font: 20px Verdana;
}

ul li:hover{
    color: green;
    font: 22px Verdana;
}

li a{
    color: red;
    font: 20px Verdana;
}

li a:hover{
	color:green;
	font: 22px Verdana;
}

label{
	font: 20px Verdana;
	color:red;
}

label:hover{
	font: 22px Verdana;
	color:green;
}

body {
	background: brown url("images/background.gif") repeat center;
	background-size: cover;
	margin: 100px;
}